$purple: #6C31FF;
$error: #FF3333;
$success: #22bb33;

.row {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, p {
    margin: 0;
    padding: 0;
}

body {
    background: $purple;
}

.hide {
    display: none;
}

header {
    h1 {
        color: #fff;
        font-family: 'Montserrat', sans-serif;
    }
}


#form-submit {
    background-color: #fff;
    width: 100%;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 1px 3px 6px rgba($color: $purple, $alpha: .3);
    margin: 20px auto 20px auto;
    max-width: 800px;

    h2 {
        font-family: 'Montserrat', sans-serif;
        color: #444;
    }

    input, select, button {
        border-radius: 10px;
        border: none;
        box-shadow: 1px 3px 6px rgba($color: $purple, $alpha: .3);
        font-size: 1em;
    }

    button.btn.btn-success {
        background-color: #6CB310;
    }

    .inputValidation {
        position: relative;

        i {
            position: absolute;
            top: 12px;
            right: 10px;
            visibility: hidden;
        }

        &.error {
            i.fa-exclamation-circle {
                color: $error;
                visibility: visible;
            }
    
            small {
                color: $error;
                visibility: visible;
            }
    
            input, select {
                border: 1px solid $error;
                margin-bottom: 16px;
            }
        }

        &.success {
            i.fa-check-circle {
                color: $success;
                visibility: visible;
            }
    
            input, select {
                border: 1px solid $success;
            }
        }

        small {
            visibility: hidden;
            position: absolute;
            top: 36px;
            left: 10px;
            font-size: 12px;
            font-family: 'Montserrat', sans-serif;
        }
    }
}


footer {
    margin-top: 30px;
    h2 {
        font-size: 16px;
        font-family: 'Montserrat', sans-serif;
        padding: 40px;
    }
}